@import "~bootstrap/scss/bootstrap.scss";
@import "~react-select/scss/default.scss";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";
@import "navbar.scss";
@import "cards.scss";
@import "login.scss";
@import "footer.scss";
@import "all.css";
@import "brands.css";
@import "fontawesome.css";
@import "regular.css";
@import "solid.css";
@import "v4-shims.css";


.portrait-crop{
  position: relative;
  left:65px;
  bottom:10px;
  height: 200%;
  width: 105%;
  overflow: visible;

}

.bunny-crop{
  position:relative;
  top:0px;
  right:10px;
  width:110%;
  overflow: visible;
}

.dog-crop{
  overflow: visible;
  width:105%;
}



div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.top-buffer { margin-top:60px; }

.login-background{
  background-image: url("../js/background2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.register-background{
  background-image: url("../js/dog3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.myContainer {
  resize: none;
  padding-top: 75px;
  padding-right: 15px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: 0;
}